.headerButtons {
  position: fixed;
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  z-index: 9999;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.menu-button {
  background-color: #b2e0eb;
  color: #333;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.menu-button:hover {
  background-color: #b2e0eb;
}

.button {
  padding: 1rem 2rem;                /* Padding inside button */
  font-size: 1rem;                   /* Standard font size */
  border-radius: 8px;                /* Rounded corners */
  border: none;                      /* No border */
  cursor: pointer;                   /* Pointer cursor on hover */
  background-color: #b2e0eb;         /* Bootstrap blue */
  color: #333;                      /* White text */
  width: 250px;                      /* Fixed width */
  transition: background-color 0.2s; /* Smooth color transition */
}

.bottom-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  z-index: 1000;
}

.checkbox {
  margin-right: 12px;
}
  


