.menu-button {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  z-index: 9999;
  position: absolute;
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.menu-button:hover {
  background-color: #0056b3;
}

